body {
  margin: 0;
  background: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  width: 700px;
  margin: 250px auto;
  text-align: center;
}

h1 {
  font-size: 38px;
}

#excuse {
  font-size: 38px;
  font-weight: bold;
}